@media screen and (max-width: 500px) {
  .escala {
    height: 600px;
    text-align: center;
  }
}
@media screen and (max-height: 900px) {
  .escala {
    margin-top: 100px;
  }
}
@media screen and (max-height: 680px) {
  .escala {
    margin-top: 20px;
  }
}

@media only screen and (height: 914px) and (max-width: 412px) {
  .escala {
    margin-top: 150px;
  }
}

@media only screen and (height: 658px) and (max-width: 320px) {
  .escala {
    margin-top: 70px;
    height: 500px;
  }
}

body {
  background-image: url("../img/Image028.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
